############################
# Node
############################
node_modules/
npm-debug.log*

############################
# Strapi
############################
.tmp/
.cache/
dist/
build/
.strapi/
.strapi-updater.json
data/*.db
data/*.db-journal

############################
# Env
############################
.env

############################
# Editors / OS
############################
.DS_Store
.vscode/
.idea/
*.log
